@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bank Mega</h1>
    <p>Our mission is to be the innovators of banking. We invest in new technologies....</p>
</div>
